<div class="long-title">
  <h3>Personal details</h3>
</div>
<div id="form-container">
  <dx-form id="form" [(formData)]="employee">
    <!-- <dxi-item
      #checkbox
      name="checkbox"
      editorType="dxCheckBox"
      [editorOptions]="checkBoxOptions"
    > -->
    <dxi-item>
      <div *dxTemplate>
        <dx-check-box
          [(value)]="isHomeAddressVisible"
          (onValueChanged)="changeValue($event)"
        ></dx-check-box>
      </div>
      <dxo-label text="Show Address"></dxo-label
    ></dxi-item>

    <dxi-item
      dataField="Position"
      editorType="dxSelectBox"
      [editorOptions]="{ items: positions, searchEnabled: true }"
    >
      <dxi-validation-rule
        type="required"
        message="Position is required"
      ></dxi-validation-rule>
    </dxi-item>
    <dxi-item dataField="Address" [visible]="isHomeAddressVisible"></dxi-item>
  </dx-form>
</div>
